*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #77d4f0;
}
.output{
    /* border: 1px solid #0000ff; */
    height:120px;
    width: 400px;
    position:absolute;
    top:40px;
    right:37%;
    background-color: #e2dede;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    align-items: flex-end;
    font-weight:bold;
    word-wrap: break-word;
    word-break: break-all;
 
}
.privious-operand{
  color:#000000;
  font-size: 25px;

}
.current-operand{
  color:#bb06ac;
  font-size: 45px;
}
.calcBody {
    /* border:1px solid red; */
    background:#242424;
    width: 400px;
    height:500px;
    display:flex ;
    align-items: center;
    justify-content: center;
    margin-top:150px;
}
.bottonDesign {
    /* border:1px solid#008000; */
    padding: 30px;
}
button{
    background:linear-gradient(#cdf7fa,#77d4f0 ); 
    color:#000;
    border: 0;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 5px;
    width: 80px;
    height:80px;
    background-color:#fff;
    border-radius:15px;
    
}
button:active{
    transform:  scale(0.9);
}
button:focus{
  outline:0;
}
button:hover{
    background:linear-gradient(#fff,#c2e3e9 );
}
 .sp{
    width:165px;
    font-size:35px;
}
button{
    font-size: 30px;
}

